<%= form_for(@database) do |f| %>
<div class="row">
  <%= f.label :name, :class => "col-sm-1 col-sm-offset-2" %>
  <%= f.text_field :name, :class => "col-sm-6" %>
</div>
<br>
<div class="row">
  <%= f.label :description, :class => "col-sm-1 col-sm-offset-2" %>
  <%= f.text_field :description, :size => 80, :class => "col-sm-6" %>
</div>
<br>
<div class="row">
  <%= f.submit "Add Database", :class => "col-sm-2 col-sm-offset-5 btn btn-primary btn-sm" %>
</div>
<% end %>
